<div style="display: flex;
height: 350px;
flex-direction: column;
justify-content: space-between;
padding-top: 0%;
margin-top: 0%">
    <div class="total-container">
    <div class="savings">
        <img class="img1" src="https://cdn-icons-png.flaticon.com/128/3885/3885840.png" />
        <p class="sav1">LifeTime Savings</p>
        <p class="sav2">$124.00</p>

    </div>
    <div class="redution">
        <img class="img2" src="https://cdn-icons-png.flaticon.com/128/188/188333.png" />
        <p class="sav3">CO2 Reduction</p>
        <p class="sav4">4305.6lbs</p>

    </div>
</div>
<div class="bottom-container">
    <p class="head1">System Status</p>
    <div class="containervalue">
    <div class="first-container">
        <img class="image1" src="https://cdn-icons-png.flaticon.com/128/978/978022.png">
        <p class="para1">Battery</p>
        <p class="para2">Not Installed</p>

    </div>
    <div class="second-container">
        <img class="image2" src="https://cdn-icons-png.flaticon.com/128/4173/4173904.png">
        <p class="para3">Solar</p>
        <p class="para4">Online</p>

    </div>
    <div class="third-container">
        <img class="image3" src="https://cdn-icons-png.flaticon.com/128/8772/8772483.png">
        <p class="para5">Inverters</p>
        <p class="para6">Outage</p>

    </div>
</div>


</div>
</div>
