<p-panel >
    <ng-template pTemplate="header">
        <div style="display: flex; justify-content: space-between; align-items: center;width:100%">
          <img [style]="{'height':'30px'}" src="https://es-media-prod.s3.amazonaws.com/media/supplier/logo/source/AxiabyQcells_Primary_Logo_Full_Color_RGB_973199592d96b19e688b1f497086e85d.png" />
          <h3 style="margin: 0;">Questions 888-550-7512</h3>
        </div>
      </ng-template>
      
    <!-- <div class="header-container" pTemplate="header">
        <img [style]="{'height':'30px'}" src="https://es-media-prod.s3.amazonaws.com/media/supplier/logo/source/AxiabyQcells_Primary_Logo_Full_Color_RGB_973199592d96b19e688b1f497086e85d.png" />
        <h3>Questions 888-550-7512</h3>
      </div> -->
<div class="center-container reduce-margin">
    <p-card   [style]="{ width: '650px', height: '400px' }">
    <h3 class="heading">Forgot Password</h3>
    <p class="subheading"> Please enter your Email Address</p>
      <div class="total-container">
        <div class="center-content">
          <form [formGroup]="loginForm">
            <div class="card flex justify-content-center">
                <div class="flex flex-column gap-2" [style]="{ 'margin-left': '60px', 'margin-right': '100px', 'margin-top':'50px' }">
                <label htmlFor="username" [style]="{'margin-bottom':'10px !important'}">Email</label><br>
                <input pInputText id="username" aria-describedby="username-help" formControlName="email" [style]="{ width: '450px', 'margin-bottom': '18px' }" />
                <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                  Email is required.
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="center-cont flex">
          <a routerLink="/login" routerLinkActiv="active" [style]="{'float':'left'}" >Login</a>
          <p-button label="Send Code" severity="warning" [style]="{'float':'right'}"></p-button>
        </div>
        <div class="centervalues"  >
          <p class="cvalue">Need help?</p>
          <p class="cvalues">help@axiasolarusa.com</p>
        </div>
      </div>
    </p-card>
  </div>
  <ng-template [style]="{'border':'none'}" pTemplate="footer">
    <img [style]="{'height':'30px','float':'right'}" src="https://es-media-prod.s3.amazonaws.com/media/supplier/logo/source/AxiabyQcells_Primary_Logo_Full_Color_RGB_973199592d96b19e688b1f497086e85d.png" />
 

     </ng-template>

</p-panel>
