  <div class="dough-container">
<p-card  >
 <p class="heading">Self-Powered Summary</p>
 <div class="totalcon">
  <highcharts-chart
  [Highcharts]="Highcharts" 
  [options]="chartOptions"
  style=" height: 200px; display: block"
  
></highcharts-chart>
<div class="tcon" style="width:30%">
  <div class="firstcon">
    <img class="img1" src="../../assets/images/solar-rts-icon.svg" />
    <div class="text">
      <p class="text1">From Solar</p>
      <p class="text2">55%</p>
    </div>
  </div>
  <div class="seccon">
    <img class="img2" src="../../assets/images/battery-rts-icon.svg" />
    <div class="textval2">
      <p class="text3">From Battery</p>
      <p class="text4">40%</p>
    </div>
  </div>
  <div class="thirdcon">
    <img class="img3" src="../../assets/images/grid-rts-icon.svg" />
    <div class="textval3">
      <p class="text5">From Grid</p>
      <p class="text6">15%</p>
    </div>
  </div>

</div>
</div>
<div class="footer">
<p class="para1">As of 10hrs ago</p>
<p class="para2">Detailed Graph </p>
</div>
</p-card>

</div>
