<div>
    <div class="total-container">
        <div>
            <p>Real Time Status</p>
        </div>
        <div class="imageContainer">
            <div class="innerContiner1">
                <div class="img1">
                    <img src="../../assets/images/solar-rts-icon.svg" />
                </div>
                <div class="img2">
                    <img src="../../assets/images/inverter-rts-icon.svg" />
                </div>
            </div>
            <div class="innerContiner2">
                <div class="img3">
                    <img src="../../assets/images/home-rts-icon.svg" />
                </div>
                <div class="img4">
                    <img src="../../assets/images/grid-rts-icon.svg" />
                </div>
            </div>
            <div class="innerContiner3">
                <div class="img5">
                    <img src="../../assets/images/battery-rts-icon.svg" />
                </div>
            </div>
    </div>

    </div>
</div>